
@{
    ViewBag.Title = "Login";
}

<div id="mainDiv" style="width: 100%; text-align: center">
    <div id="contentDiv" style="display: inline-block;">
        <div id="headerDiv">
            <h2>Se connecter à votre compte</h2>
        </div>
        <div id="fillUpDiv">
            <table>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <tr>
                        <td style="float:left">
                            <label>Identifiant</label>
                        </td>
                        <td>
                            <input type="text" name="login" id="login" style="float:right"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="float:left">
                            <label>Mot de passe</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="password" style="float:right"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="float:left">
                            <input type="submit" value="Se connecter" />
                        </td>
                    </tr>
                }
                <tr>   
            </table> <br />
            @Html.ActionLink("Vous n'avez pas de compte? Cliquer ici!", "SignUp", "Account") <br />
            @Html.ActionLink("Retourne à l'accueil", "Welcome", "Home")
        </div>
    </div>
</div>

