
@{
    ViewBag.Title = "Login";
}

<div id="mainDiv" style="width: 100%; text-align: center">
    <div id="contentDiv" style="display: inline-block;">
        <div id="headerDiv">
            <h2>Se connecter à votre compte</h2>
        </div>
        <div id="fillUpDiv">
            <table>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <tr>
                        <td style="float:left">
                            <label>Identifiant</label>
                        </td>
                        <td>
                            <input type="text" name="login" id="login" />
                        </td>
                    </tr>
                    <tr>
                        <td style="float:left">
                            <label>Mot de passe</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="password" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="float:left">
                            <input type="submit" value="Se connecter" />
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @Html.ActionLink("Return to home", "Welcome", "Home")
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

