<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://420-476-projetfinal-desrosiers-pucacco-lam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>420-476-projetfinal-desrosiers-pucacco-lam.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>420-476-ProjetFinal-Desrosiers-Pucacco-Lam</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$420-476-ProjetFinal-Desrosiers-Pucacco-Lam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BDProjetEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:420-476-projetfinal-desrosiers-pucacco-lam.database.windows.net,1433;Initial Catalog=BDProjet;User ID=AlexBenji@420-476-projetfinal-desrosiers-pucacco-lam.database.windows.net;Password=P0tatoestuncaca" Name="Data Source=tcp:420-476-projetfinal-desrosiers-pucacco-lam.database.windows.net,1433;Initial Catalog=BDProjet;User Id=AlexBenji@420-476-projetfinal-desrosiers-pucacco-lam.database.windows.net;Password=P0tatoestuncaca" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="_420_476_ProjetFinal_Desrosiers_Pucacco_Lam.BDProjetEntities, 420-476-ProjetFinal-Desrosiers-Pucacco-Lam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BDProjetEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:420-476-projetfinal-desrosiers-pucacco-lam.database.windows.net,1433;Initial Catalog=BDProjet;User Id=AlexBenji@420-476-projetfinal-desrosiers-pucacco-lam.database.windows.net;Password=P0tatoestuncaca"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>